* { margin: 0; padding: 0; }

/* Top CSS & Logo & Search input box if its visible */
body { background-color: #FFFFFF; font-family: Verdana, Arial, Helvetica, sans-serif; overflow: invisible;}


#Top {
	background: #ECF389;
	border: 1px solid #E2B823;
	width: auto;
	height:  100px;
    padding: 0.2em;
}
#Logo { padding: 5px 0 0 5px; word-spacing: 2px; }
#Logo sub { color: #666666; }
#Logo img { 
	vertical-align: bottom;
}

.search {
	float: right;
	clear: both;
	margin-top: -1em;
	margin-right: 1em;
}

#Left {
	width: 15%;
	float: left;
}

#Right {
	width: 15%;
	border-left: 1px solid #333333;
	float: right;	
	padding-left: 2px;
}

#Center {
	float: left;
	width: auto;
	padding: 0.5em 1em;
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 1em;
}

#wrapper { 
	margin-top: 0.2em; 
	float:left;
	margin-left: 0; margin-right:0;
	width: 100%; 
	margin-bottom: 8em;
	border:0px solid;
}


#Footer {
	clear:both;
	margin: 1em auto; padding: 4px;
	text-align: center;
	border: 1px solid #929191;
	width: 30%;
	background: #CECECE; 
	font-family: tahoma; font-size: 10pt;
}

/* Positioning */
.center {
	margin-left: auto;
	margin-right: auto;
}